.chart-section {
    width: 100%;
    /* max-width: 30rem; */
    padding: 1.5rem 1.5rem 2rem;
    border: 2px solid #a7a8aa;
    border-radius: 0.5rem;
    margin: auto;
}
  
.chart-section .h2 {
    margin: 0 0 2.5rem;
}
  
.chart-section .chart {
    width: 100%;
    display: block;
    /* grid-template-columns: auto; */
    /* gap: .5em 0; */
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    grid-auto-columns: 1fr;
}
.chart .graph-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 10px;
}
.graph-container p {
    width: 40%;
}
.graph-container div {
    width: 700px;
    height: 29px;
    background: #E1E7F8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 0rem;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}
  
.graph-container div span {
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
}
.graph-container span.low { 
    background-color: red;
    border-radius: 50px;
}
.graph-container span.medium {
    background-color: rgb(231, 130, 15);
}
.graph-container span.high {
    background-color: green;
}
.graph-container span.perfect {
    background-color: blue;
}